{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LightBlog | Homepage</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body>
    {% include 'navbar.html' %} {% include 'hero.html' %}
    <div>{% include 'blog_list.html' %}</div>
  </body>
</html>
