{% load static %}
<div class="bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <div
      class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10"
    >
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">LightBlog</span>
          <img
            class="w-auto h-14"
            src="{% static 'img/logo.png' %}"
            alt="LightBlog"
          />
        </a>
      </div>

      <div class="items-center justify-end md:flex md:flex-1 lg:w-0">
        {% if request.user.is_authenticated %}
        <span
          >Welcome, <br />
          {{request.user}}</span
        >
        {% else %}
        <a
          href="{% url 'auth' %}"
          class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
          >Get Started</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</div>
